.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/8673768/pexels-photo-8673768.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.user-input {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f5cbcb;
}
.form {
    padding: 20px;
}

/* .password-field{
  display: flex;
  justify-content:space-between;
  width: 100%;
  margin-top: 15px;
  padding: 5px;
  border: 1px solid rgb(16, 14, 14);
  border-radius:10px;
} */
#email,
#password {
    position: relative;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;

    background: white;
}
.btn-visible {
    border: none;
    background-color: inherit;
    /* padding: 14px 28px;
  font-size: 16px; */
    cursor: pointer;
    /* filter: opacity(0.5); */
    position: absolute;
    margin-top: 20px;
    margin-left: -40px;
}
.btn_ {
    border: none;
    background-color: inherit;
    margin-top: 15px;
    color: #2b2684;
}
#login-btn,
#google-btn {
    width: 100%;
    margin-top: 12px;
    border: none;
    padding: 8px;
    border-radius: 10px;
    background-color: purple;
}
.register {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.btn-reg {
    border: none;
    background-color: inherit;
    color: #2b2684;
}

.or {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: #2b2684;
    margin-top: 12px;
    /* font-size: 0.8rem; */
}
